@charset "utf-8";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

/*--------------------------------
変数
---------------------------------*/
$color-font: #3E3E3E; 
$color-label: #3B69FF;
$color-submit: #FFAA3B;
$color-submit-hover: #F18900;
$color-required: #FF4646;

$font-en: 'Montserrat', sans-serif;

$hov-transition: all .3s ease 0s;

$inner-width: 1200px;

$breakpoints: (
'sp': 'screen and (max-width: 767px)',
'tab': 'screen and (max-width: 999px)',
'pc': 'screen and (min-width: 1000px)',
)!default;

@mixin mq($breakpoint){
  @media #{map-get($breakpoints,$breakpoint)}{
    @content;
  }
}

/*--------------------------------
common
---------------------------------*/
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  background-color: #F3F3F3;
  color: $color-font;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  display: inline-block;
}

@include mq (sp) {
  .is-pc {
    display: none;
  }
}

@include mq (tab) {
  .is-pc {
    display: none;
  }
}

@include mq (pc) {
  .is-sp {
    display: none;
  }
}

/*--------------------------------
section common
---------------------------------*/
.inner {
  max-width: 1280px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;

  @include mq (sp) {
    padding: 0 16px;
  }
}

.section__title {
  font-family: $font-en;
  font-size: 36px;
  line-height: 1.22;
  text-align: center;
  font-weight: 600;

  @include mq (sp) {
    font-size: 30px;
  }
}
.section__title--white {
  color: #fff;
}

.section__title--left {
  text-align: left;
}

.btn-wrap {
  text-align: center;
  margin-top: 40px;
}

.btn {
  font-size: 20px;
  font-weight: 600;
  color: $color-font;
  font-family: $font-en;
  letter-spacing: 4px;
  padding: 19px 77px;
  border: 1px solid #FFFFFF;
  transition: $hov-transition;

  @include mq (sp) {
    padding: 14px 97px;
    font-size: 18px;
    letter-spacing: 3.6px;
  }

  &:hover {
    background-color: $color-font;
    color: #fff;
  }
}

.btn--white {
  color: #fff;

  &:hover {
    background-color: #fff;
    color: $color-font;
  }
}

.btn-wrap--left {
  text-align: left;
}

/*--------------------------------
header
---------------------------------*/
.header {
  background-color: #FFFFFF1A;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;

  @include mq (sp) {
    background-color: #FFFFFF;
    padding: 17px 0;
    transition: all .6s ease 0s;

    &.open {
      transform: translateX(-80%);
    }
  }
}

.header-nav {
  @include mq (sp) {
    width: 80%;
    height: 100vh;
    position: fixed;
    right: -120%;
    top: 0;
    z-index: 103;
    transition: all .3s ease 0s;
  }
}

.header-nav__item {
  width: 100%;
  display: flex;
  justify-content: center;

  @include mq (sp) {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%,-50%);
    text-align: center;
  }
}

.header-nav__list {
  & + & {
    margin-left: 41px;

    @include mq (sp) {
      margin-left: 0;
      margin-top: 4px;
    }
  }
}

.header-nav__link {
  color: $color-font;
  font-family: $font-en;
  height: 83px;
  line-height: 83px;
  position: relative;
  letter-spacing: -0.4px;

  @include mq (sp) {
    font-size: 18px;
    width: 100%;
    height: 50px;
    line-height: 50px;
  }

  @include mq (pc) {
    &:hover::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #3E3E3E;
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include mq (tab) {
      &:hover::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #3E3E3E;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

}

main {
  transition: all .6s ease 0s;

  &.open {
    transform: translateX(-80%);
  }
}

.hamburger {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: none;

  @include mq (sp) {
    display: block;
    font-size: 23px;

    a {
      color: #3E3E3E;
      font-weight: bold;
      font-family: $font-en;
    }
  }
}

.hamburger__btn {
  display: none;

  @include mq (sp) {
    display: inline-flex;
    padding-left: 10px;
    transition: all .6s ease 0s;
    z-index: 102;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    }
}

.overlay {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  opacity: 0;
  transition: opacity .5s;

  &.open {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

/*--------------------------------
top
---------------------------------*/
.top {
  background: url(https://github.com/Yuuu-code/Yuuu-code.github.io/blob/main/mv.png?raw=true) center center / cover;
  height: 648px;

  @include mq (sp) {
    height: 667px;
    background-position: 22% center;
  }
}

.top__body {
  padding: 228px 0 153px 50%;

  @include mq (sp) {
    padding: 222px 0 191px;
  }
}

.top__title {
  font-size: 32px;
  font-weight: bold;
  @include mq (pc) {
    letter-spacing: 0.02px;
  }

  @include mq (sp) {
    font-size: 24px;
    line-height: 1.66;
  }
}

.top__text {
  font-size: 18px;
  font-weight: bold;
  margin-top: 28px;
  letter-spacing: 0.45px;

  @include mq (sp) {
    font-size: 14px;
    margin-top: 20px;
    letter-spacing: 0;
    line-height: 1.42;
  }
}

.top__btn-wrap {
  @include mq (sp) {
    text-align: center;
  }
}

.top__btn {
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.45px;
  color: #fff;
  padding: 11.5px 50px;
  background-color: $color-submit;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  transition: $hov-transition;

  @include mq (sp) {
    margin-top: 27px;
    padding: 12px 30px;
    font-size: 16px;
    letter-spacing: 0;
  }

  &:hover {
    background-color: $color-submit-hover;
  }
}

/*--------------------------------
news
---------------------------------*/
.news {
  background-color: #F3F3F3;
  padding: 120px 0;
  margin: auto;
  
  @include mq (sp) {
    padding: 0 0 20px;
  }
}

.news__container {
  background-color: #fff;
  padding: 60px 60px 40px;
  margin: 0 auto;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);

  @include mq (sp) {
    padding: 40px 0;
    position: relative;
    top: -40px;
  }
}

.news-items {
  margin-top: 60px;

  @include mq (sp) {
    margin-top: 41px;
  }
}

.news-item {
  border-top: 1px solid #CECDCD;
  border-bottom: 1px solid #CECDCD;

  & + & {
    border-top: none;
  }
}

.news-item__link {
  width: 100%;
  transition: $hov-transition;

  @include mq (sp) {
  }

  &:hover {
    background-color: rgba(73, 115, 255, 0.1);
  }
}

.news-item__body {
  display: flex;
  color: #3E3E3E;
  position: relative;
  align-items: center;
  padding: 38px 83px 40px 0;
  
  @include mq (tab) {
    flex-direction: column;
  }

  @include mq (sp) {
    flex-direction: column;
    padding: 15px 55px 10px 16px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    width: 14px;
    height: 23px;
    background: url(https://raw.githubusercontent.com/Yuuu-code/Yuuu-code.github.io/b881af8912d3accb8cbd9152291d61cae11f5141/news-arrow-1.svg) no-repeat center center / contain;

    @include mq (sp) {
      right: 16px;
    }
  }
}

.news-item__date {
  display: inline-block;
  font-family: $font-en;
  font-size: 18px;
  letter-spacing: 0.45px;
  width: 299px;
  position: relative;

  @include mq (tab) {
    width: 100%;
  }

  @include mq (sp) {
    font-size: 14px;
    letter-spacing: .35px;
    align-self: flex-start;
    width: 100%;
  }

  &::after {
  content: "テキスト";
  font-size: 14px;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  letter-spacing: 0.35px;
  padding: 3px 30px;
  position: absolute;
  top: 50%;
  left: 138px;
  transform: translateY(-50%);
  text-align: center;

  @include mq (sp) {
    margin-left: 22px;
    font-size: 12px;
    padding: 0 13px;
    left: 80px;
  }
  }
}

.news-item__title {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.45px;
  width: calc(100% - 299px);

  @include mq (tab) {
    width: 100%;
    margin-top: 20px;
  }

  @include mq (sp) {
    width: 100%;
    font-size: 14px;
    margin-top: 12px;
    letter-spacing: 0;
    line-height: 1.4;
  }
}

.btn__news {
  border: 1px solid #707070;
}

/*--------------------------------
service
---------------------------------*/
.service {
  max-width: 100%;
  padding: 60px 0 120px;
  position: relative;

  @include mq (sp) {
    padding: 40px 0 55px; 
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    background-color: #3E3E3E;

    @include mq (sp) {
      height: 480px;
    }
  }
}

.service__inner {
  position: relative;
  z-index: 10;
}

.service-container {
  position: relative;
  background-color: #fff;
  max-width: 960px;
  width: 100%;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  padding: 73px 41px 62px;
  text-align: center;
  margin: 60px auto 0;
  z-index: 12;

  @include mq (sp) {
    padding: 52px 16px 40px;
    margin-top: 40px;
  }
}

.service-items {
  display: flex;
  justify-content: space-between;

  @include mq (sp) {
    display: block;
  }
}

.service-item {
  width: calc((100% - 18.7%) / 3);

  @include mq (sp) {
    width: 100%;

    & + & {
      margin-top: 54px;
    }
  }
  
  &:nth-child(1) .service-item__icon-wrap {
      padding-bottom: 10px;

    @include mq (sp) {
      padding-bottom: 16px;
    }
  }

  &:nth-child(2) .service-item__icon-wrap {
      padding: 3px 0 18px;

    @include mq (sp) {
      padding-bottom: 20px;
    }
  }

  &:nth-child(3) .service-item__icon-wrap {
      padding: 3px 0 18px;

    @include mq (sp) {
      padding-bottom: 14px;
    }
  }
}

.service-item__title {
  font-size: 20px;
  font-weight: 600;
  font-family: $font-en;
  margin-top: 5px;
  margin-bottom: 12px;
  letter-spacing: 4px;
  line-height: 1.4;

  @include mq (sp) {
    margin-top: 2px;
    margin-bottom: 14px;
    line-height: 1.2;
  }
}

.service-item__text {
  font-size: 14px;
  text-align: left;
  line-height: 1.7;
  padding-left: 4px;

  @include mq (sp) {
    padding-left: 0;
    text-align: left;
  }
}

/*--------------------------------
result
---------------------------------*/
.result {
  background-color: #3E3E3E;
  max-width: 100%;
  margin-left: 40px;
  padding: 60px 0 60px 60px;

  @include mq (sp) {
    margin-left: 0;
    padding: 40px 0;
  }
}

.result__title {
  text-align: left;

  @include mq (sp) {
    text-align: center;
  }
}

.swiper {
  @include mq (sp) {
    margin-left: 16px;
  }
}

.swiper-wrapper {
  margin-top: 60px;
  // スライドの動き等速
  transition-timing-function: linear;

  @include mq (sp) {
    margin-top: 40px;
  }
}

// swiper 各スライドのサイズを指定
.swiper-slide {
  width: 400px;
  height: auto;

  @include mq (sp) {
    width: 274px;
  }

  &:nth-of-type(n+2) {
    margin-left: 20px;
  }
}

// swiper 中のコンテンツを左寄せ
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  text-align: left;

  @include mq (sp) {
    text-align: center;
  }
}

// page nation
.swiper-pagination {
  // 元々のabsolute解除（.swiper要素からはみ出たら消えてしまうため）
  position: static;
}

// page nationの見た目
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  position: relative;
}

// page nation
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  &:nth-child(n+2) {
    margin-left: 16px;
  }
}

// page nation
.swiper-pagination-bullet-active{

  // ページネーションクリック時の周りの円
 &::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #fff;
  border-radius: 10px;
  width: 20px;
  height: 20px
 }
}

// page nation大枠
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
 margin-top: 38px;
 padding-right: 16px;

 @include mq (sp) {
   margin-top: 22px;
   padding-right: 11px;
 }
}

.result-card__body {
  padding: 11px 11px 20px 16px;
  background-color: #fff;

  @include mq (sp) {
    padding: 9px 12px 11px;
  }
}

.result-card__title {
  font-weight: bold;
  font-size: 20px;

  @include mq (sp) {
    font-size: 14px;
    letter-spacing: 0.01px;
  }
}

.result-card__text {
  margin-top: 6px;

  @include mq (sp) {
    font-size: 12px;
    letter-spacing: 0.01px;
    margin-top: 6px;
  }
}

.result__btn-wrap {
  text-align: left;
  margin-top: 37px;

  @include mq (sp) {
    text-align: center;
    margin-top: 23px;
  }
}

/*--------------------------------
price
---------------------------------*/
.price {
  padding: 121px 0 116px;

  @include mq (sp) {
    padding: 40px 0 57px;
  }
}

.price-container {
  max-width: 960px;
  width: 100%;
  margin: 60px auto 0;
  text-align: center;

  @include mq (sp) {
    margin-top: 40px;
  }
}

.price-item {
  width: 100%;
  display: flex;
  border: 1px solid #707070;
  font-family: $font-en;

  &:nth-of-type(n+2) {
    border-top: none;
  }
}

.price-item__title {
  flex: 1 1 262px;
  background-color: #3E3E3E;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding: 15px 0;

  @include mq (sp) {
    flex: .9 1 0;
    font-size: 20px;
  }
}

.price-item__text {
  width: calc(100% - 262px);
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0 14px 39px;
  text-align: left;

  @include mq (sp) {
    flex: 2 1 0;
    padding: 12px 0 12px 20px;
    align-self: center;
    font-size: 20px;
  }
}

.price-container__text {
  text-align: left;
  margin-top: 10px;
  font-size: 12px;

  @include mq (sp) {
    margin-top: 5px;
  }
}

/*--------------------------------
big-bg
---------------------------------*/
.big-bg {
  position: relative;

  &::before {
    content: "";
    background: #3E3E3E;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 60px;
    width: 100%;


    @include mq (pc) {
      bottom: 256px;
      top: 148px;
      width: 980px / 1280px * 100%;
    }
  }
}

@media screen and (min-width:1000px) and (max-width: 1190px) {
  .big-bg::before {
    bottom: 155px;
  }
}

/*--------------------------------
comments
---------------------------------*/
.comments {
  padding-bottom: 120px;
  position: relative;

  @include mq (sp) {
    padding-bottom: 60px;
  }
}

.comments__inner {
  position: relative;
}

.comments-items {
  display: flex;

}

.comments-item {
  padding: 40px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  width: 100%;

  @include mq (pc) {
    width: 666px / $inner-width * 100%;
    padding: 120px 60px 120px; 
  }
  
}

.comments-medias {
  margin-top: 60px;

  @include mq (sp) {
    margin-top: 40px;
  }
}

.comments-media{
  display: flex;

  &:nth-of-type(n+2) {
    margin-top: 60px;

    @include mq (sp) {
      margin-top: 39px;
    }
  }
}

.comments-media__img {
  width: 100px;
  height: 100px;

  @include mq (sp) {
    width: 60px;
    height: 60px;
  }
}

.comments-media__text {
  margin-left: 32px;
  line-height: 1.5;
  margin-top: -4px;

  @include mq (sp) {
    margin-left: 20px;
    font-size: 14px;
    line-height: 1.42;
  }

}

.comments__img-wrap {
  display: none;
  align-self: center;
  
  @include mq (pc) {
    display:flex;
    width: 534px / $inner-width * 100%;
  }
}



/*--------------------------------
faqs
---------------------------------*/
.faqs {
  background: url(https://github.com/Yuuu-code/Yuuu-code.github.io/blob/main/qa-bg.png?raw=true) center center / cover;
  padding: 60px 0 120px;
  position: relative;
  z-index: 1;

  @include mq (sp) {
    padding: 40px 0 60px;
  }
}

.faqs-ac {
  margin-top: 60px;

  @include mq (sp) {
    margin-top: 40px;
  }
}

.faqs-ac__wrap {
  width: 51%;
  margin-left: auto;
  padding: 16px;
  background-color: #fff;
  transition: all .3s ease 0s;
  border-radius: 4px;

  @include mq (sp) {
    width :100%;
  }

  &:not(:first-child) {
    margin-top: 32px;

    @include mq (sp) {
      margin-top: 24px;
    }
  }
}

.faqs-ac__title {
  width: 100%;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  padding-left: 40px;
  letter-spacing: 0.4px;

  &::before {
    content:"Q";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: #3B69FF;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-family: $font-en;
  }

  &::after {
    content: "";
    width: 17px;
    height: 17px;
    background: transparent url(https://raw.githubusercontent.com/Yuuu-code/Yuuu-code.github.io/ac4c1e8c26268347f8d589028559346d39c4d9b0/plus.svg) no-repeat center center / 17px 17px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  &.open::after{
    content: "";
    background: url(https://raw.githubusercontent.com/Yuuu-code/Yuuu-code.github.io/b881af8912d3accb8cbd9152291d61cae11f5141/minus.svg) no-repeat center center / 17px 5px;
  }
}

.faqs-ac__text {
  display: none;
  background-color: #3B69FF33;
  border-radius: 4px;
  padding: 11px 16px 11px 16px;
  width: 100%;
  border-top: none;
  font-weight: bold;
  margin-top: 16px;

  @include mq (sp) {
    font-size: 14px;
    font-weight: 500;
    padding: 7px 12px 7px;
    margin-top: 15px;
  }
}

/*--------------------------------
access
---------------------------------*/
.access {
  padding: 120px 0 96px;
  position: relative;

  @include mq (sp) {
    padding: 40px 0 60px;
  }

}

.access__inner {
  position: relative;
  z-index: 10;
}

.access-content {
  @include mq (pc) {
    display: flex;
  }
}

.access-content__body {
  max-width: 414px;
  width: 100%;
  margin-left: 5%;

  @include mq (tab) {
    margin-left: 0;
  }
}

.access-content__text {
  margin-top: 56px;
  margin-bottom: 28px;
  color: #fff;

  @include mq (sp) {
    font-size: 14px;
    margin-top: 36px;
    margin-bottom: 20px;
  }
}

.access-map {
  width: calc(100% - 474px);
  max-width: 100%;

  @include mq (tab) {
    width: 100%;
  }
}

.access-map__wrap {
  position: relative;
  width: 100%;
  padding-top: 75%;
  
  @include mq (sp) {
    padding-top: 70%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.btn__access {
  letter-spacing: 2px;

  @include mq (sp) {
    letter-spacing: 1.8px;
    width: 100%;
    text-align: center;
    margin-top: 27px;
  }

  @include mq (tab) {
    margin-top: 27px;
  }
}

/*--------------------------------
contact us
---------------------------------*/
.contact {
  padding: 62px 0;
  background: url(https://github.com/Yuuu-code/Yuuu-code.github.io/blob/main/contact-bg.png?raw=true) center center / cover;

  @include mq (sp) {
    padding: 40px 0;
  }
}

.contact-container {
  max-width: 960px;
  width: 100%;
  margin: auto;
  border-radius: 12px;
  background-color: #fff;
}

.contact-head {
  padding: 61px 0 54px;
  background: url(https://github.com/Yuuu-code/Yuuu-code.github.io/blob/main/contact1.png?raw=true) center center / cover;
  text-align: center;
  border-radius: 12px 12px 0 0;


  @include mq (sp) {
    background: url(https://github.com/Yuuu-code/Yuuu-code.github.io/blob/main/contact1-sp.png?raw=true) center center / cover;
    padding: 38px 20px 35px 16px;
  }
}

.contact__text {
  color: #fff;
  margin-top: 10px;

  @include mq (sp) {
    font-size: 14px;
    text-align-last: left;
  }
}

.contact-form {
  padding: 60px 12.5%;

  @include mq (sp) {
    padding: 38px 12px;
  }
}

.contact-form__row {
  display: flex;
  
  @include mq (sp) {
    flex-direction: column;
  }

  &:nth-of-type(n+2) {
    margin-top: 32px;

    @include mq (sp) {
      margin-top: 27px;
    }
  }

  &:nth-of-type(5) {
    margin-top: 27px;
  }
  

}

.contact-form__label {
  font-weight: bold;
  flex:0 0 188px;
  align-self: center;

  @include mq (sp) {
    flex: 1;
    align-self: flex-start;
  }


  .is-required {
    position: relative;

    &::after {
      content: "必須";
      padding: 2px 8px;
      margin-left: 12px;
      color: #fff;
      background-color: #FF4646;
      border-radius: 2px;
      font-weight: bold;
      font-size: 12px;

      @include mq (sp) {
        margin-left: 20px;
      }
    }
  }
}

.contact-form__select {
  position: relative;

&:after {
  content: "";
  position: absolute;
  top: 45%;
  right: 16px;
  width: 8px;
  height: 8px;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  transform: translateY(-50%) rotate(45deg);
  pointer-events: none;

  @include mq (sp) {
    top: 50%;
  }
  }

  select {
    cursor: pointer;
    box-shadow: none;
    border: 1px solid #707070;
    padding: 6px 10px 8px;
    appearance: none;
    border-radius: 0;
    font-family: inherit;
    color: inherit;
    width: 178px;
    line-height: 1.6;
    font-size: 16px;
    background-color: #fff;

    @include mq (sp) {
      width: 100%;
      font-size: 14px;
      margin-top: 11px;
    }

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
    }

    &:hover {
      box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
    }
  }
}

.contact-form__input {
  flex:0 1 100%;

  input {
    display: inline-block;

    &:focus-visible {
      outline: none;
      border-bottom: 1px solid #4973FF;
      box-shadow: 0 5px 4px -4px rgba(73, 115, 255, 0.5);
    }

    &:valid {
      background-color: #fff;
    }
  }

  [type="text"] {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #707070;
    background-color: #fff;
    padding: 3px 12px 4px;
    appearance: none;
    border-radius: 0;
    font-family: inherit;
    color: inherit;
    font-size: 16px;
    width: 100%;

    @include mq (sp) {
      padding: 0px;
      margin-top: 10px;
      font-size: 14px;
    }

    &:hover {
      border-bottom: 1px solid #4973FF;
      box-shadow: 0 5px 4px -4px rgba(73, 115, 255, 0.5);
    }
  }

  [type="email"] {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #707070;
    background-color: #fff;
    padding: 3px 12px 4px;
    appearance: none;
    border-radius: 0;
    font-family: inherit;
    color: inherit;
    font-size: 16px;
    width: 100%;

    @include mq (sp) {
      padding: 0px;
      font-size: 14px;
      margin-top: 9px;
    }

    &:hover {
      border-bottom: 1px solid #4973FF;
      box-shadow: 0 5px 4px -4px rgba(73, 115, 255, 0.5);
    }
  }

  textarea {
    width: 100%;
    min-height: 200px;
    box-shadow: none;
    border: 1px solid #707070;
    background-color: #fff;
    padding: 10px;
    appearance: none;
    border-radius: 0;
    font-family: inherit;
    color: inherit;
    font-size: 16px;
    resize: vertical;
    margin-top: 4px;

    @include mq (sp) {
      margin-top: 11px;
      min-height: 160px;
    }

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
    }

    &:hover {
      border: 1px solid #4973FF;
      box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
    }
  }
}

.contact-form__radio-wrap {
  @include mq (sp) {
    margin-top: 10px;
  }
}

.contact-form__radio {

  [type="radio"] {
    opacity: 0;
    position: absolute;
  }

  span {
    display: inline-block;
    padding-left: 20px;
    margin-right: 40px;
    position: relative;
    font-size: 16px;
    cursor: pointer;

    &:hover::before {
      border: 1px solid #3B69FF;
      box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
    }

    &:active::before {
      background-color: rgba(73, 115, 255, 0.2);
      border: 1px solid #4973FF;
    }

    

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      border: 1px solid #707070;
      border-radius: 50%;
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      content: "";
      width: 6px;
      height: 6px;
      background-color: #3B69FF;
      border-radius: 50%;
      position: absolute;
      left: 3px;
      top: 50%;
      transform: translateY(-50%);
      display: none;
    }
  }

  [type="radio"]:checked + span {
    &::after {
      display: block;
    }
  }

  [type="radio"]:focus-visible + span::before{
    outline: none;
    box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
  }
}


.contact-form__col {
  margin-top: 24px;
}

.contact-form__check {
  margin-top: 30px;

  @include mq (sp) {
    margin-top: 22px;
  }

  [type="checkbox"] {
    opacity: 0;
    position: absolute;
  }

  span {
    display: inline-block;
    padding-left: 40px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    font-size: 18px;

    @include mq (sp) {
      font-size: 16px;
      padding-left: 38px;
    }

    &:hover::before {
      border: 1px solid #3B69FF;
      box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
    }

    &:active::before {
      background-color: rgba(73, 115, 255, 0.2);
      border: 1px solid #4973FF;

    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 18px;
      height: 20px;
      border: 1px solid #707070;
      transition: all .3s ease 0s;

      @include mq (sp) {
        width: 16px;
        height: 16px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width:6px;
      height: 13px;
      border : solid 1px transparent;
      border-bottom: 2px solid #3B69FF;
      border-right: 2px solid #3B69FF;
      background: transparent;
      top: 43%;
      left: 6px;
      transform: translateY(-50%) rotate(45deg);
      display: none;
    }
  }
}

[type="checkbox"]:checked + span {
  &::after {
    display: block;
  }
}

[type="checkbox"]:focus-visible {
  & + span {
    &::before {
      outline: none;
      box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
    }
  }
}

.contact-form__btn-wrap {
  @include mq (sp) {
    text-align: center;
  }
}

.contact-form__btn {
  border: none;
  cursor: pointer;
  background-color: #B2B2B2;
  margin-top: 36px;

  @include mq (sp) {
    padding: 13px 50px 13px;
    margin-top: 30px;
  }

  &:hover {
    background-color: #B2B2B2;
  }

  &.is-active {
    background-color: #FFAA3B;

    &:hover {
      background-color: #F18900;
    }
  }
}

.contact__message {
  text-align: center;
  padding: 60px 16px;
  display: none;

  &.-error {
    color: #f00;
  }
}

/*--------------------------------
footer
---------------------------------*/
.footer {
  background: #3E3E3E;
  padding: 60px 0;
  transition: all .6s ease 0s;

  &.open {
    transform: translateX(-80%);
  }
}

.footer__inner {
  max-width: 1040px;
  width: 100%;
  padding: 0 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  @include mq (sp) {
    display: block;
    text-align: center;
  }
}

.sns-list {
  display: flex;

  @include mq (sp) {
    justify-content: center;
  }

  li + li {
    margin-left: 32px;

    @include mq (sp) {
      margin-left: 52px;
    }
  }
}

.sns-list__icon {
  font-size: 36px;
  color: #FFFFFF;
  opacity: .6;
}

.footer-nav {
  margin-top: 33px;
}

.footer-nav__item:not(:first-of-type) {
  margin-top: 16px;
}

.footer-nav__link {
  letter-spacing: .4px;
  color: #FFFFFF;

  @include mq (sp) {
    font-size: 14px;
    letter-spacing: .35px;
  }
}

.footer__right {
  @include mq (sp) {
    margin-top: 40px;
  }
}

.footer__logo {
  font-size: 40px;
  font-weight: bold;
  font-family: $font-en;
  color: #E3E3E3;
  
  @include mq (sp) {  
    font-size: 32px;
  }
}

.copy-right__text-wrap {
  text-align: right;

  @include mq (sp) {
    text-align: center;
  }
}

.copy-right__text {
  font-size: 12px;
  color: #FFFFFF;
  opacity: .6;
  letter-spacing: 0.3px;
  font-family: $font-en;
  vertical-align: sub;
}
/*--------------------------------
top-top
---------------------------------*/
.to-top {
  display: inline-block;
  position: fixed;
  right: 40px;
  bottom: 44px;
  transition: all .3s ease 0s;
  z-index: 100;

  &:hover {
    opacity: .7;
  }

  @include mq (sp) {
    right: 16px;
    bottom: 16px;
  }
}
